

<form
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
    class="flex-1 flex items-center bg-zinc-900 border border-zinc-700 rounded-xl px-3 py-1.5 focus-within:border-zinc-500 transition-colors"
>

    <panel-search-select-value
        [control]="searchForm.controls.field"
        [searchControl]="searchForm.controls.value"
    />

    <!-- Ícono de Lupa (Búsqueda) -->
    <button type="submit" class="p-1 text-gray-400 hover:text-white transition-colors" title="Buscar">
        <span class="material-symbols-outlined">
        search
        </span>
    </button>
</form>

<!-- Botón Derecha (Ajustes / Filtro / Acción) -->
<button class="p-2 border border-zinc-700 rounded-xl bg-zinc-900 hover:bg-zinc-800 text-gray-300 transition-colors flex items-center justify-center shrink-0" title="Opciones">
    <span class="material-symbols-outlined">
    discover_tune
    </span>
</button>
