<section>
    <header class="flex items-center justify-center gap-4 py-2 px-2">
            <!-- Grupo central: búsqueda + ajustes -->
            <search-component class="flex-1 max-w-3xl flex items-center gap-2 justify-center" />
    </header>

        <main class="flex-1 mt-4 border border-zinc-700 rounded-xl bg-zinc-900/40 p-6 relative flex flex-col justify-center items-center">
            <div class="text-zinc-500 text-sm border border-dashed border-zinc-800 rounded-lg w-full h-full  flex items-center justify-center">
                Área de contenido principal
            </div>
        </main>
</section>
