<section class="relative h-full w-full flex-1 flex-col overflow-hidden  bg-zinc-900/40 shadow-lg">
    <header class="flex items-center justify-center gap-4 py-2 px-2">
            <panel-search-component />
    </header>

        <main class="flex-1 mt-4 border border-zinc-700 rounded-xl bg-zinc-900/40 p-6 relative flex flex-col gap-4 overflow-y-auto">
            <panel-content-component (bookSelected)="onBookSelected($event)" />

        </main>

        @if (selectedBook && !editingBook) {
            <details-book-component
                [book]="selectedBook"
                (edit)="onEditBook($event)"
                (close)="onCloseDetails()"
            />
        }

        @if (editingBook) {
            <edit-book-component
                [book]="editingBook"
                (close)="onCloseEdit()"
            />
        }
</section>
