<section class="mt-8">
  <h2 class="mb-3 text-xl font-medium text-zinc-200">Historial ◇</h2>

  <div class="overflow-x-auto border-y border-zinc-800">
    <table class="w-full min-w-[900px] border-collapse text-left text-sm text-zinc-200">
      <thead>
        <tr class="border-b border-zinc-700 text-zinc-300">
          <th class="px-2 py-3 font-normal">N. Tarjeta</th>
          <th class="px-2 py-3 font-normal">Título</th>
          <th class="px-2 py-3 font-normal">Autor</th>
          <th class="px-2 py-3 font-normal">Edición</th>
          <th class="px-2 py-3 font-normal">Sig. Topo</th>
          <th class="px-2 py-3 font-normal">Observaciones</th>
          <th class="px-2 py-3 font-normal">Ej.</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-zinc-800">
          <td class="px-2 py-3">N.Tarjeta</td>
          <td class="px-2 py-3">Título</td>
          <td class="px-2 py-3">Autor</td>
          <td class="px-2 py-3">Edición</td>
          <td class="px-2 py-3">Sig.Topo</td>
          <td class="px-2 py-3">Observaciones</td>
          <td class="px-2 py-3">Ej</td>
        </tr>
        <tr class="border-b border-zinc-800">
          <td class="px-2 py-3">N.Tarjeta</td>
          <td class="px-2 py-3">Título</td>
          <td class="px-2 py-3">Autor</td>
          <td class="px-2 py-3">Edición</td>
          <td class="px-2 py-3">Sig.Topo</td>
          <td class="px-2 py-3">Observaciones</td>
          <td class="px-2 py-3">Ej</td>
        </tr>
        <tr class="border-b border-zinc-800">
          <td class="px-2 py-3">N.Tarjeta</td>
          <td class="px-2 py-3">Título</td>
          <td class="px-2 py-3">Autor</td>
          <td class="px-2 py-3">Edición</td>
          <td class="px-2 py-3">Sig.Topo</td>
          <td class="px-2 py-3">Observaciones</td>
          <td class="px-2 py-3">Ej</td>
        </tr>
        <tr class="border-b border-zinc-800">
          <td class="px-2 py-3">N.Tarjeta</td>
          <td class="px-2 py-3">Título</td>
          <td class="px-2 py-3">Autor</td>
          <td class="px-2 py-3">Edición</td>
          <td class="px-2 py-3">Sig.Topo</td>
          <td class="px-2 py-3">Observaciones</td>
          <td class="px-2 py-3">Ej</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
